flows-2.json
[{"id":"a3ff7f4e.7dc8f","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2050a2d6.d26056","type":"ui_form","z":"a3ff7f4e.7dc8f","name":"","label":"","group":"792e79c7.a1c7a8","order":4,"width":6,"height":4,"options":[{"label":"age","value":"age","type":"number","required":true,"rows":null},{"label":"bmi","value":"bmi","type":"number","required":true,"rows":null},{"label":"children","value":"children","type":"number","required":true,"rows":null}],"formValue":{"age":"","bmi":"","children":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":290,"y":220,"wires":[["886ea890.e024a8","f136cb33.50312"]]},{"id":"cb4c21ef.2b118","type":"ui_dropdown","z":"a3ff7f4e.7dc8f","name":"","label":"select sex","tooltip":"","place":"Select option","group":"792e79c7.a1c7a8","order":1,"width":6,"height":1,"passthru":true,"multiple":false,"options":[{"label":"male","value":"male","type":"str"},{"label":"female","value":"female","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":280,"y":320,"wires":[["15cb7507.5df08b"]]},{"id":"7d6c0a97.539174","type":"ui_dropdown","z":"a3ff7f4e.7dc8f","name":"","label":"are you smoker","tooltip":"","place":"Select option","group":"792e79c7.a1c7a8","order":2,"width":6,"height":1,"passthru":true,"multiple":false,"options":[{"label":"yes","value":"yes","type":"str"},{"label":"no","value":"no","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":260,"y":420,"wires":[["e7f9acf.85ca5d"]]},{"id":"eb353621.24bc4","type":"ui_dropdown","z":"a3ff7f4e.7dc8f","name":"","label":"select region","tooltip":"","place":"Select option","group":"792e79c7.a1c7a8","order":3,"width":6,"height":1,"passthru":true,"multiple":false,"options":[{"label":"NE","value":"NE","type":"str"},{"label":"NW","value":"NW","type":"str"},{"label":"SE","value":"SE","type":"str"},{"label":"SW","value":"SW","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":270,"y":520,"wires":[["8cbe9549.2d2558"]]},{"id":"886ea890.e024a8","type":"debug","z":"a3ff7f4e.7dc8f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":160,"wires":[]},{"id":"4a0f8024.df44b","type":"debug","z":"a3ff7f4e.7dc8f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":320,"wires":[]},{"id":"4f20c644.6ad54","type":"debug","z":"a3ff7f4e.7dc8f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":420,"wires":[]},{"id":"cf361f1f.f2517","type":"debug","z":"a3ff7f4e.7dc8f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":520,"wires":[]},{"id":"f136cb33.50312","type":"function","z":"a3ff7f4e.7dc8f","name":"global variable for form node","func":"global.set(\"age\",msg.payload.age)\nglobal.set(\"children\",msg.payload.children)\nglobal.set(\"bmi\",msg.payload.bmi)\nvar apikey=\"2dti3xlk3ecpTeRRPKKmY3Sn0emdCAaJTlwrzQOpqIAi\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":220,"wires":[["87e78a0f.a7eac8"]]},{"id":"15cb7507.5df08b","type":"function","z":"a3ff7f4e.7dc8f","name":"sex","func":"global.set(\"sex\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":320,"wires":[["4a0f8024.df44b"]]},{"id":"e7f9acf.85ca5d","type":"function","z":"a3ff7f4e.7dc8f","name":"smoker","func":"global.set(\"smoker\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":420,"wires":[["4f20c644.6ad54"]]},{"id":"8cbe9549.2d2558","type":"function","z":"a3ff7f4e.7dc8f","name":"region","func":"global.set(\"region\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":520,"wires":[["cf361f1f.f2517"]]},{"id":"87e78a0f.a7eac8","type":"http request","z":"a3ff7f4e.7dc8f","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":840,"y":260,"wires":[["19ba052a.215b9b","f7d87b24.dc7c5"]]},{"id":"19ba052a.215b9b","type":"debug","z":"a3ff7f4e.7dc8f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":380,"wires":[]},{"id":"f7d87b24.dc7c5","type":"function","z":"a3ff7f4e.7dc8f","name":"Pre- Predicton","func":"var age = global.get(\"age\")\nvar sex = global.get(\"sex\")\nvar bmi = global.get(\"bmi\")\nvar children = global.get(\"children\")\nvar smoker = global.get(\"smoker\")\nvar region = global.get(\"region\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"age\", \"sex\", \"bmi\",\"children\", \"smoker\",  \"region\"]],\"values\": [[age,sex,bmi,children,smoker,region]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":180,"wires":[["8ce6f5a5.cecf2"]]},{"id":"8ce6f5a5.cecf2","type":"http request","z":"a3ff7f4e.7dc8f","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/7a414c55-b15b-4412-9355-d9da94248efb/predictions?version=2021-07-05","tls":"","persist":false,"proxy":"","authType":"","x":1150,"y":300,"wires":[["7b475417.a74ddc","5492c36c.8df794"]]},{"id":"7b475417.a74ddc","type":"debug","z":"a3ff7f4e.7dc8f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1260,"y":200,"wires":[]},{"id":"5492c36c.8df794","type":"function","z":"a3ff7f4e.7dc8f","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":400,"wires":[["3ed12dd7.d637d2","44f71b2e.294fec"]]},{"id":"3ed12dd7.d637d2","type":"debug","z":"a3ff7f4e.7dc8f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1200,"y":480,"wires":[]},{"id":"44f71b2e.294fec","type":"ui_text","z":"a3ff7f4e.7dc8f","group":"792e79c7.a1c7a8","order":5,"width":6,"height":1,"name":"","label":"Premium will be","format":"{{msg.payload}}","layout":"row-spread","x":1230,"y":580,"wires":[]},{"id":"792e79c7.a1c7a8","type":"ui_group","name":"Enter the values","tab":"e8fecf5d.abaec","order":1,"disp":true,"width":"6","collapse":false},{"id":"e8fecf5d.abaec","type":"ui_tab","name":"Insurance Prediction","icon":"Prediction","disabled":false,"hidden":false}]